In [1]:
import requests
import pandas as pd

from bs4 import BeautifulSoup
from io import StringIO

In [2]:
url = "https://pems.dot.ca.gov/?report_form=1&dnode=State&content=loops&tab=det_timeseries&export=text&s_time_id=1706659200&s_time_id_f=01%2F31%2F2024+00%3A00&e_time_id=1706705940&e_time_id_f=01%2F31%2F2024+12%3A59&tod=all&tod_from=0&tod_to=0&dow_0=on&dow_1=on&dow_2=on&dow_3=on&dow_4=on&dow_5=on&dow_6=on&holidays=on&q=vmt&q2=&gn=hour"

In [3]:
values = {'username': 'arabinowitz@ucdavis.edu',
          'password': 'Motivation1!!'}

response = requests.post(url, data=values)
soup = BeautifulSoup(response.text,'html.parser')

soup

Hour	VMT (Veh-Miles)	# Lane Points	% Observed
01/31/2024 00:00	4,502,670.5	443737	53.7
01/31/2024 01:00	3,494,873.4	443702	53.5
01/31/2024 02:00	3,379,523.1	443712	53.5
01/31/2024 03:00	4,414,270.0	443717	53.5
01/31/2024 04:00	8,204,590.9	443652	53.4
01/31/2024 05:00	15,001,366.3	443632	53.4
01/31/2024 06:00	20,456,790.3	443667	53.4
01/31/2024 07:00	24,358,659.2	443652	53.4
01/31/2024 08:00	23,731,384.0	443814	53.4
01/31/2024 09:00	21,806,534.2	443877	48.7
01/31/2024 10:00	20,920,397.3	443988	53.4
01/31/2024 11:00	21,077,177.2	443964	53.3
01/31/2024 12:00	21,786,139.1	444024	53.3

In [4]:
df = pd.read_table(StringIO(str(soup)))
df

                Hour VMT (Veh-Miles)  # Lane Points  % Observed
0   01/31/2024 00:00     4,502,670.5         443737        53.7
1   01/31/2024 01:00     3,494,873.4         443702        53.5
2   01/31/2024 02:00     3,379,523.1         443712        53.5
3   01/31/2024 03:00     4,414,270.0         443717        53.5
4   01/31/2024 04:00     8,204,590.9         443652        53.4
5   01/31/2024 05:00    15,001,366.3         443632        53.4
6   01/31/2024 06:00    20,456,790.3         443667        53.4
7   01/31/2024 07:00    24,358,659.2         443652        53.4
8   01/31/2024 08:00    23,731,384.0         443814        53.4
9   01/31/2024 09:00    21,806,534.2         443877        48.7
10  01/31/2024 10:00    20,920,397.3         443988        53.4
11  01/31/2024 11:00    21,077,177.2         443964        53.3
12  01/31/2024 12:00    21,786,139.1         444024        53.3